<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= params[:id] %></h1></br>
    <p>Son auteur: <%= find_gossip.first %></p>
		<p>Le contenu du potin: <%= find_gossip.last %></p><br/>
		<p>Pour revenir à la page des potins, clique <a href="/">ici</a> !</p>
  </body>
</html>