<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de GOSSIP, du dossier views !</h1></br>
    <p>Envie de nous rencarder sur un tuyau? Clique <a href="/gossips/new/">ici</a>...</p>
    <% gossips.each_with_index do |gossip, index| %>
    <p>
      <a href="/gossips/<%= index + 1 %>/"> N°<%= index + 1 %></a><br/>
    	<%= gossip.author %><br/>
      <%= gossip.content %>
    </p>
    <% end %>
  </body>
</html>